html(lang="en")
  head
    meta(charset="UTF-8")
    title gulp-perfect-pixel-test
    link(rel="stylesheet", href="main.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    include ../../../src/pug/main
    script(src="perfectPixel.js")
