html(lang="en")
  head
    meta(charset="UTF-8")
    title photo
    link(rel="stylesheet", href="main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    include ../nav
    include ../../../src/pug/main
    script.
      var size = undefined, options = undefined;
    script(src="perfectPixel.js")
