@import variable
@import boxSizing

@import control-panel
@import mini-control-panel

.perfect-pixel__img,
.perfect-pixel__control-panel,
.perfect-pixel__mini-control-panel
	z-index: 2147483646 !important
	font: 14px 'Arial', 'Times New Roman'
	line-height: 14px

.perfect-pixel__img
	position: absolute
