img.perfect-pixel__img
.perfect-pixel__control-panel
  .perfect-pixel__control-panel__title
    .perfect-pixel__control-panel__title__close(title='HotKey: Alt+q')
  .perfect-pixel__control-panel__button-lock-drag-image(title='HotKey: Alt+l') lock
  .perfect-pixel__control-panel__button-hide-image(title='HotKey: Alt+h') hide
