img.perfect-pixel__img
.perfect-pixel__control-panel
  .perfect-pixel__control-panel__title
    .perfect-pixel__control-panel__title__close(title='HotKey: Alt+p')
    .perfect-pixel__control-panel__title__button-open-mini-control-panel
  .perfect-pixel__control-panel__button-lock-drag-image(title='HotKey: Alt+l') unLock
  .perfect-pixel__control-panel__button-hide-image(title='HotKey: Alt+h') hide
  .perfect-pixel__control-panel__wrapper-position
    span Position:
    label x:
      input.perfect-pixel__control-panel__wrapper-position__x
    label y:
      input.perfect-pixel__control-panel__wrapper-position__y
  .perfect-pixel__control-panel__wrapper-relative
    span Position relative:
    label body
      input(type='radio' name='relative' value='body').perfect-pixel__control-panel__wrapper-relative__body
      .perfect-pixel__control-panel__wrapper-relative__checkbox
    label document
      input(type='radio' name='relative' value='document').perfect-pixel__control-panel__wrapper-relative__document
      .perfect-pixel__control-panel__wrapper-relative__checkbox
  .perfect-pixel__control-panel__wrapper-opacity
    span Opacity:
    .perfect-pixel__control-panel__wrapper-opacity_range
      .perfect-pixel__control-panel__wrapper-opacity_grab

.perfect-pixel__mini-control-panel
  .perfect-pixel__mini-control-panel__button-hide-image(title='HotKey: Alt+h')
    include eye.svg
  .perfect-pixel__mini-control-panel__button-lock-drag-image(title='HotKey: Alt+l')
    include lock.svg
    include lockOpen.svg
